:root {
    --main-bg-color: #f9f9f9;
    --item-bg-color: #ffffff;
    --font-link: #333;
    --link-hover: #00B345;
    
  }

html,
body {
    height: 100%;
    background-color: var(--main-bg-color);
}
a{
    color: var(--font-link) !important;
    background-color: var(--item-bg-color) !important;
    transition: .2s ease;
}
a:hover{
    color: var(--link-hover) !important;
}

.btn-link:hover {
    color: var(--font-link) !important;
}

.btn-link:hover, .btn-link:focus, .btn-link:active {
    color: var(--link-hover) !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    max-width: 100%;
    padding: 70px 15px 20px;
}
.navbar-brand{
    padding-top: 0;
    padding-right: 0;
}
.navbar-toggle{
    background-color: var(--link-hover);
}
.navbar-brand img{
    max-width: 40%;
}
.navbar-collapse{
    border: none;
}
.navbar-inverse{
    background-color: var(--item-bg-color);
    font-size: 1.1em;
    border: none;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.05);
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 300px;
    max-width: 100%;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
    border-radius: 0;
}

.breadcrumb a{
    background-color: transparent !important;
    text-decoration: underline;
}
.login-help a{
    text-decoration: underline;
}
.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.kv-drp-dropdown .left-ind {
    display: none;
}
.kv-drp-dropdown .right-ind {
    /* position: relative; */
    font-size: 20px;
    top: 0.3rem;

}
.kv-drp-dropdown .kv-clear{
    display: none;
}
.search_inputs{
    display: flex;
    justify-content: flex-start;
}
.search_inputs > div{
    margin-right: 60px;
}

.wrap > .container{
   background-color: var(--item-bg-color); 
   padding: -10px 15px;
   box-shadow: 0 1px 10px 0 rgba(0,0,0,.05);
}

.btn{
    border-radius: 35px;
}
.btn:hover{
    color: #fff !important;
    background-color: var(--link-hover) !important;
}
.btn-primary:hover{
    color: #fff !important;
    background-color: #337ab7 !important;
}
.btn-danger:hover{
    color: #fff !important;
    background-color: #d9534f !important;
}

@media(max-width:480px) {
    table{
        /* display: block; */
        max-width: 100%;
        width: 100%;
        /* overflow-x: auto; */
    }
    .violations-index .btn{
        display: block;
        margin-bottom: 10px;
    }
    .violations-index button{
        width: 100%;
    }
}
@media(max-width:766px) {
    .search_inputs{
        display: block;
        
    }
    .search_inputs > div{
        margin-right: 0;
    }
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}